.modal-header {
    color: white;
    background-color: #007bff
}
.text-feedback {
    border: 2px solid rgb(146, 133, 133);
    margin: 6px;
    padding: 6px;
}
.modal-footer .btn{
    width: 20% !important;
}
.form-check input {
    color: #007bff
}