.post-body{
    margin-left: 11% !important;
    margin-right: 11% !important;
    margin-top: 7rem !important;
}
.post-body form h2{
    text-align: center;
}
.post-body form button{
    float: right;
    width: max-content;
    background-color: transparent ;
}
.tox-notifications-container{
    display: none !important;
}
.tox-tinymce {
   height: 23rem !important;
   margin-top: 2rem !important;
}
